.book{
    max-width: 1509px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 53px;
    margin-right: 63px;
}
.left{
    max-width: 138px;
}
.center{
    max-width: 321px ;
}
.right{
    max-width: 676px;
}
h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #1C9FF2;
}
p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.poloska{
    width: 0px;
    height: 825px;
    border: 1px solid #378BC1;
}
