.page {
    background-color: #378bc1;
    width: 1680px;
    height: 1050px;
    display: flex;
    position: relative;
}
.logbook {
    display: flex;
    width: 1609px;
    height: 1000px;
    background-color: #0c4d78;
    border-radius: 30px;
}
.title {
    width: 131px;
    height: 41px;
    width: 144px;
    height: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #1c9ff2;
}
.left {
    width: 207px;
    height: 850px;
}
.date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}
